[class^="chessticle-piece-alpha-ead-01_20"] {
  background-image: url("./alpha.ead-01_20.png");
}
.chessticle-piece-alpha-ead-01_20-wr {
  background-position: 0 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-wq {
  background-position: -20px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-wp {
  background-position: -40px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-wn {
  background-position: -60px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-wk {
  background-position: -80px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-wb {
  background-position: -100px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-br {
  background-position: -120px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-bq {
  background-position: -140px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-bp {
  background-position: -160px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-bn {
  background-position: -180px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-bk {
  background-position: -200px 0;
  width: 20px;
  height: 20px;
}
.chessticle-piece-alpha-ead-01_20-bb {
  background-position: -220px 0;
  width: 20px;
  height: 20px;
}
table.chessticle-board-alpha-ead-01_20 td {
  width: 20px;
  height: 20px;
}
