.chessticle-container {
  float: left;
}
.chessticle-container:after {
  content: "";
  display: block;
}
.chessticle-board {
  border-collapse: separate;
  border-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.8);
}
.chessticle-board td {
  position: relative;
  padding: 2px;
}
.chessticle-board td.chessticle-light-square {
  background-color: #ded9ff;
}
.chessticle-board td.chessticle-dark-square {
  background-color: #8aa0ff;
}
.chessticle-board td .chessticle-piece {
  position: absolute;
  top: 0;
  left: 0;
}
.chessticle-move-controls {
  padding: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}
.chessticle-move-controls li {
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.chessticle-move-controls li.chessticle-next:after {
  content: ">";
}
.chessticle-move-controls li.chessticle-prev:after {
  content: "<";
}
